* {
    box-sizing: border-box;
}

body {
    background-color: white;
    opacity: 0.9;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
