.app-header {
    background-color: white;
    border-radius: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* padding: 15px 15px; */
    width: 100%;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.082);

}

.logo{
    width:5rem;
    font-style: italic;
    margin: 5px;
    margin-left: 50px;
    display: flex;
    align-items: flex-end;
    font-family: 'Tiro Bangla', serif;
    font-weight: italic;
}
.app-header img{
    width: 4em;
}
.logo h1{
    margin-bottom: 0; 
    margin-left: 2px;
    font-size: 2em;
    color:cadetblue;
}
.app-header h2{
    font-size: 2em;
    margin: 0;
}

.nav-bar{
    height: 100%;
}
    
.nav-link{
    height: 100%;
   
    }

    
 .nav-bar img{
     height: 4em;
     width: 4em;
}