.email-link {
    text-decoration: none;
    color: inherit;
    padding: 0;
    margin: 0;
}

.email-inbox {
    width: 100%;
    height: 38rem;
    overflow-y: scroll;
}
.scrollable-element{
    background-color: black;
}