.email-preview-container {
    color: #202124;
    background: rgba(255, 255, 255, 0.902);
    text-align: center;
    font-size: 0.8rem;
    padding-bottom: 5px;
    padding-top: 5px;
    ;
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 3fr 7fr 1fr;
    grid-template-rows: auto;
    width: 60rem;
}
.email-preview-content {
    display: inline;

}
.email-preivew-sender {
    display: inline;

}

.email-review-subject {
    display: inline;
}

.email-preview-time {
    display: inline;

}
