.email-compose {
    background-color: white;
    position: fixed;
    z-index: 2;
    right: 1rem;
    bottom: 0;
    width: 33em;
    margin-right: 6.8rem;
    /*  border-radius: 25px; */
    -webkit-box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.55);
    box-shadow: 3px 6px 10px 0px rgba(0, 0, 0, 0.55);
}

.compose-form {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.compose-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #202020;
    height: 2.5rem;
}

.compose-header span {
    color: white;
    font-size: 15px;
    font-weight: 300;
    margin-inline-start: 10px;
}

.email-compose textarea {
    font-size: 1.25rem;
    resize: none;
    outline: none;
}

.form-btns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.form-txt {
    border: none;
    padding: 13px;
}

.form-txt[type="text"] {
    font-size: 1rem;
    box-shadow: inset 0 -1px 0 0 rgba(130, 135, 141, 0.322);
    height: 2rem;
}

.send-btn {
    font-size: 1rem;
    text-align: center;
    background-color: #1a73e8;
    border: 0px;
    cursor: pointer;
    margin-left: 1rem;
    height: 35px;
    width: 5rem;
    margin: 10px;
    color: white;
}

.send-btn:hover {
    -webkit-box-shadow: 0px 10px 13px -7px #000000, 3px 6px 12px 0px rgba(0, 0, 0, 0);
    box-shadow: 0px 10px 13px -7px #000000, 3px 6px 12px 0px rgba(0, 0, 0, 0);
}

.email-compose .close-btn {
    background-color: unset;
    margin-right: 8px;
    border: none;
    font-size: 18px;
    color: white;
    cursor: pointer;
}

.compose-btn {
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 0px 10px -5px rgba(0, 0, 0, 0.5);
    width: 9rem;
    height: 3rem;
    align-items: center;
    margin-left: 2rem;
    border-radius: 2rem;
    cursor: pointer;
}

.compose-btn:hover{
    transform: scale(1.1);
}