.search-input{
    height: 46px;
    padding: 0;
    width: 25rem;
    border-radius: 8px;
    border:none;
    margin-left: 15rem;
    background-color: rgba(212, 206, 206, 0.559);
}
.filter-Read{
    height:55px;
}