.search-input{
    background-color: rgba(205, 205, 205, 0.68);
    width:35rem;
    display: inline;
    border-radius: 0.5em;
    padding: 1em;
    border: none;
    margin-left: 18.5rem;
    font-size: 1em;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.filter-Read{
    background-color: rgba(205, 205, 205, 0.68);
    padding: 1.2em;
    border: none;
    margin-left: 5px;
    border-radius: 0.5em;
}