.side-bar-email{
    cursor: pointer;
    padding-top: 5px;
    height: 10rem;
    display: flex;
    flex-direction:column;
}



.side-bar-email li{
    margin-bottom: 15px;
}
.side-bar-email i{
   margin-right: 15px;
}
