@media (max-width:1000px) {
    .compose-btn {
        width: 6rem;
    }

    .side-bar-email {
        margin-left: 0rem;
    }

    .search-input {
        width: 20rem;
        margin-left: 12rem;
    }
    .email-preview-container {
        text-align: left;
        font-size: 0.9rem;
        padding: 9px 2px;
        display: grid;
        grid-template-columns: 0.2fr 1fr 1fr 1fr 0.6fr;
        grid-template-rows: auto;
        
    }
    
}

@media (max-width:730px) {
    .compose-btn {
        width: 6rem;
        margin-left: 0;
    }
    .side-bar-email{
        display: flex;
        margin-left: 0;
        cursor: pointer;
        padding-left: 0;
        margin-right: 1rem;
        display: flex;
        color: rgb(75, 74, 74);
        flex-direction:column;
    
    }
    .search-input {
        width: 20rem;
        margin-left: 0rem;
    }
    .compose-btn {
        width: 3rem;
        margin-left: 0;
    }


}

@media (max-width:520px) {
}