
/* SETUP */
@import 'setup/typography.css';
@import 'setup/vars.css';

/* COMPONENTS */
@import 'components/screen.css';
@import 'components/drop-down.css';

/* BASE */
@import 'basic/base.css';
@import 'basic/header.css';
@import 'basic/footer.css';
@import 'basic/layout.css';
/* @import 'basic/helpers.css'; */


/* BASIC COMPONENTS */
@import 'components/user-msg.css';
@import 'components/book/main-book.css';
@import 'components/main-header.css';

/* KEEPER */
@import 'components/keeper/main-keeper.css';

/* EMAIL */
@import 'components/email/email-preview.css';
@import 'components/email/email-details.css';
@import 'components/email/email-list.css';
@import 'components/email/email-app.css';
@import 'components/email/side-nav.css';

/* MEDIA QUERIES */
/* @import 'mq/mq.css'*/

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    border: 2px solid pink;
    border-radius: 5px;
    padding: 5px;
}


