body{
    margin: 0;
}

.grid-container{
    display: grid;
    /* background-color: blanchedalmond; */
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
    grid-template-areas: "sidenav notesapp";
}

.notes-app{
    margin: 0;
    grid-area: notesapp;
    /* background-color:lightseagreen; */
}
