@import url('https://fonts.googleapis.com/css2?family=Lato&family=Montserrat:wght@300&family=Roboto:wght@300;400&family=Satisfy&family=Tiro+Bangla&display=swap');


.app-header {
    color: darkgoldenrod;
    background-color: white;
    border-radius: none;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    /* margin: 20px auto; */
    padding: 20px 80px;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.082);

}

.logo{
    margin: 0;
    display: flex;
    align-items: flex-end;
    font-family: 'Tiro Bangla', serif;
    font-weight: italic;
}
.app-header img{
    width: 5em;
}
.logo h1{
    margin: 0;
}
.app-header h2{
    font-size: 2em;
    margin: 0;
}

.nav-bar{
    height: 100%;
}
    
.nav-link{
    height: 100%;
   
    }

    
 .nav-bar img{
     height: 4em;
     width: 4em;
}