.user-msg{
    /* height: 50px; */
    position: fixed;
    bottom: 0.3em;
    right: 0.3em;
    width: 30%;
    /* border: 1px solid darkgrey;
    background-color:  gainsboro; */
    text-align: center;
    border-radius: 2px;
    /* padding: 1em; */
    z-index: 30;
    pointer-events: none;
    opacity: 0;

    transition: opacity 1s;

}
.success {
    border: 1px solid darkgrey;
    color: white;
    background-color:  rgb(91, 123, 91);
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.13);
    opacity: 1;
    width: 250px;
}
.error {
    background-color: rgb(240, 198, 198);
    color: white;
    opacity: 0.9;
}
.remove {
    cursor: pointer;
    text-decoration: solid;
}
